/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*CUSTOM SCROLL BAR*/
*,html{
  scroll-behavior: smooth;
  }
  *, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  :root{
  scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
  scrollbar-width: thin !important;
  --white:#fff;
  --black:#131417;
  --primary:#e6810ee8;
  --primarylite:#53b141;
  --gray:#6d7175;
  --dark:#253248;
  --darklite:#364256;
  --lite:#f8f9fa;
  }
  ::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background: var(--dark);
  }
  ::-webkit-scrollbar-thumb {
  background: gray;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  }
  ::-webkit-scrollbar-corner {
  background: var(--dark);
  }

  
/* Text meant only for screen readers */
body{
  margin: 0;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/
body {
  background: #ecf0f1;
  line-height: 1.4;
  font-family: sans-serif;
}

.card-content h2 {
  font-size: 18px;
  color: #e74c3c;  
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em;
  }
}

/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/
.masthead {
  background: #e74c3c;
}

.site-title {
  margin: 0 0 1em;
  padding: 1em 0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: #FFF;
}

@media screen and (min-width: 44.44em) {
  .site-title {
    font-size: 2em;
  }
}

@media screen and (min-width: 50em) {
  .site-title {
    font-size: 2.5em;
  }
}

.site-title a {
  color: hsl(5, 45%, 95%);
  text-decoration: none;
}

.site-title a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------
Base styles
--------------------------------------------------------------*/
.site-title {
  margin-bottom: 0;
}

.main-menu {
  padding: .4em 1em;
  color: white;
  background: hsl(0, 0%, 15%);
}

.post-content {
  padding: 0 1.4em 1.4em;
}

.sidebar {
  margin:2rem;
  padding: .5em 1.4em 1em;
  background: hsl(0, 0%, 90%);
  overflow: hidden;
  height: fit-content;
}

.example-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.example-menu a {
  display: block;
  padding: .4em 0;
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease;
}

.example-menu a:hover,
.example-menu a:focus {
  padding: .4em 1em;
  background: hsl(0, 0%, 20%);
  color: white;
}

.footer-area {
  padding: .4em 1em;
  text-align: center;
  background: hsl(0, 0%, 75%);
}

/* Sidebar switcher buttons */
@media screen and (max-width: 40em) {
  /* Hide switcher on small screens */
  
  .sidebar-switcher {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .sidebar-switcher {
    position: absolute;
    right: 0;
    padding: .4em 1em;
    color: #FFF;
  }
  .sidebar-switcher a {
    color: #FFF;
    padding-left: .4em;
  }
  .sidebar-switcher a:hover,
  .sidebar-switcher a:focus {
    color: #FFF;
  }
}

/*--------------------------------------------------------------
Flexbox styles
--------------------------------------------------------------*/
@media screen and (min-width: 40em) {
  .outer-wrap {
    display: flex;
    flex-direction: column;
  }
  .content {
    display: flex;
  }
  .post-content {
    max-width: 40em;
    margin: 0 auto;
  }
  .main-area {
    flex: 1 1 auto;
    order: 1;
  }
  .sidebar {
    flex: 0 0 14em;
    order: 2;
  }
  .sidebar-left {
    order: 0;
  }
  .no-sidebar {
    flex-direction: column;
  }
  .hide {
    flex: 0 0 0;
    padding: 0;
    color: hsla(0, 0%, 0%, 0);
    transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s;
  }
  .hide a {
    color: hsla(0, 0%, 0%, 0);
  }
} /* mq 40em */


/*--------------------------------------------------------------
Base styles that apply to all menu items
--------------------------------------------------------------*/
.menu-section {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid hsl(0, 0%, );
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: hsl(0, 0%, 15%);
}

.menu li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: .6em 1em;
}

.menu li a:hover {
  background: hsl(0, 0%, 25%);
}


/* Styles for Single Level Menu */
@media screen and (max-width: 30em){
  .multi-level-nav ul ul li a {
    padding-left: 2em;
  }

  .dropdown-toggle {
    display: none;
  }
}

@media screen and (min-width: 30em){
  .multi-level-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
  } 

  .multi-level-nav li {
        flex: 1 0 auto;
    position: relative;
  }

  li.has-children > a {
    padding-right: 0;
  }

  .multi-level-nav ul ul {
    display: none;
    position: absolute;
    z-index:100;
  }

  .multi-level-nav ul ul li {
        flex: 1 1 auto;
  }

  .multi-level-nav ul .toggled-on {
    display: flex;
  }

  .dropdown-toggle {
    margin: 0;
    padding: 0 .5em;
    border: 0;
    font-family: 'FontAwesome';
    content: "";
    text-transform: lowercase; /* Stop screen readers to read the text as capital letters */
    background-color: transparent;
  }

  .dropdown-toggle:after {
    position: relative;
    top: 0;
    left: 0;
    width: 42px;
    color: white;
    content: "\f107";
    line-height: 1em; 
  }

  .dropdown-toggle:hover,
  .dropdown-toggle:focus {
    background: hsl(0, 0%, 25%);
  }

  .dropdown-toggle.toggle-on:after {
    content: "\f106";
  }
}

/*--------------------------------------------------------------
Styles for social media menu
--------------------------------------------------------------*/
/* Find src URL and add in correct social media icon. */
.social-menu li a:before {
    font-family: 'Fontawesome';
    -webkit-font-smoothing: antialiased;
    content: '\f08e';
}

.social-menu li a[href*="dribbble.com"]::before { content: '\f17d'; }

.social-menu li a[href*="facebook.com"]::before { content: '\f09a'; }

.social-menu li a[href*="flickr.com"]::before { content: '\f16e'; }

.social-menu li a[href*="foursquare.com"]::before { content: '\f180'; }

.social-menu li a[href*="github.com"]::before { content: '\f09b'; }

.social-menu li a[href*="plus.google.com"]::before { content: '\f0d5'; }

.social-menu li a[href*="instagram.com"]::before { content: '\f16d'; }

.social-menu li a[href*="jsfiddle.com"]::before { content: '\f1cc'; }

.social-menu li a[href*="linkedin.com"]::before { content: '\f0e1'; }

.social-menu li a[href*="pinterest.com"]::before { content: '\f0d2'; }

.social-menu li a[href*="reddit.com"]::before { content: '\f1a1'; }

.social-menu li a[href*="soundcloud.com"]::before { content: '\f1be'; }

.social-menu li a[href*="stackoverflow.com"]::before { content: '\f16c'; }

.social-menu li a[href*="tumblr.com"]::before { content: '\f173'; }

.social-menu li a[href*="twitter.com"]::before { content: '\f099'; }

.social-menu li a[href*="vimeo.com"]::before { content: '\f194'; }

.social-menu li a[href*="vine.co"]::before { content: '\f1ca'; }

.social-menu li a[href*="yelp.com"]::before { content: '\f1e9'; }

.social-menu li a[href*="youtube.com"]::before { content: '\f167'; }

.social-menu li a[href*="wordpress.com"]::before { content: '\f19a'; }

/* Flexbox stuff */

.social-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/*--------------------------------------------------------------
Styles for mixed menu (drop-down + social)
--------------------------------------------------------------*/
.nav-mixed {
  background: hsl(0, 0%, 15%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*--------------------------------------------------------------
Card Based Layout - Base styles
--------------------------------------------------------------*/
.main-area {
  padding: 2em;
}

.card {
  background: white;
  margin-bottom: 2em; 
  height: fit-content;
}

.card a {
  color: black;
  text-decoration: none;
}

.card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
  padding: 0.5em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: normal;
}

.card-content p {
  font-size: 95%;
}

img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*--------------------------------------------------------------
Flexbox card styles
--------------------------------------------------------------*/
@media screen and (min-width: 40em) {  
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
    /* width: calc(50% - 1em); */
  }
} /* mq 40em*/

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }
  
  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
    /* width: calc(33% - 1em); */
  }
} /* mq 60em*/









/* card hover  */
.hover-animate {
  transition: all 0.2s ease-in-out
}

.hover-animate:hover,
.hover-animate:focus {
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0)
}
/* back to up button  */

#myBtn {
  display: none;
  position: fixed;
  float: right;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color:  #db0d0de5;
  color: rgb(255, 255, 255);
  height: auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 45px;
}

#myBtn:hover {
  background-color: #fff;
  color: #db0d0de5;
}



/* search */



body{
  /* background: #f2f2f2; */
  font-family: 'Open Sans', sans-serif;
}
.search-form{
  display: flex;
  width: 100%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ece9e8;
  border-right: none;
  padding: 5px;
  /* height: 20px; */
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* sidebar search */
.sidebar-searchTerm {
  width: 100%;
  border: 3px solid #ffffff;;
  border-right: none;
  padding: 5px;
  /* height: 20px; */
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.sidebar-searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #e74c3c;
  background: #e74c3c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}



/* user and time icon */
.user-and-date{
  display: block;
  color: rgb(177, 168, 168);
}
/* ==========================================Post-Details Start ================================= */

.details-body{
  background-color: #ebf0fa;
  padding-bottom: 10px;
}
.user-profile{
  justify-content: space-between;
  display: flex;
}
.post-details{
  padding-top: 50px;
  margin-left: 10rem;
  margin-right: 10rem;
  
}
.post-details-title{
  text-align: justify;
  font-size: 26px;
  color: #1f2760;
}
.post-details-menu{
  text-align: left;
  display: flex;
  text-decoration: none;
}
.post-details-menu a{
  text-decoration: none;
  padding: 5px;
}
.post-imgs, .post-dp{
  width: 100%;
  height: auto;
  padding-top: 2px;
  padding-bottom: 10px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-word{
  width: 100%;
}

.details-user-name{
    padding-left: 15px;
    color: #625d5d;
    text-decoration: none;
  }
.story-img-details{
  text-decoration: none;
}
.story-img-details, img{
    margin:0%;
  }
.post_date{
  display: block;
  padding-bottom: 10px;
  font-family: Menlo, Monaco, monospace;
  color: #625d5d;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.post-times{
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  display: inline-flex;
  
}

@media(max-width: 768px){
  .post-details{
    padding-top: 10px;
    margin: 15px;
  }
  
  .post-imgs, .post-dp{
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
   
  }
  .table{
    width: 100%;
  }
  .post-details-title{
    text-align: justify;
    font-size: 20px;
  }

  .details-user-name, .post_date, .post-times, .post-item{
    font-size: 12px;
    padding: 6px;
  }
  
  }

  /* comment section */

  
  .post-item{
    padding: 15px;
    text-decoration: none;
    color: #db6019;
  }
  
  .post-item:hover{
    color: #be4b09de;
    
  }


.input-comment {
    width: 90%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    margin-top: 15px;
  }
  .comment-btn {
    background: #016ba8;
    width: 10rem;
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
    float: right;
    
  }
  
  button.comment-btn:hover {
    background: #9201A8;
  }
  .hr-custom{
    margin: auto;
    margin-top: 5rem;
    width: auto;
  }
/* ==========================================Post-Details End ================================= */

/* add blog items */
.add-blog-container{
  margin: 32px 15px 15px 15px;

}
.blog-button{
  background: #016ba8;
  width: 11rem;
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  border: none;
  margin-top: 0px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
  box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 25%);
  transition: 1s all;
  font-size: 10px;
  border-radius: 5px;
  float: right;
  
}
.bloger-button-item{
  width: 80%;
  display: block;
  
}
.blog-forms{
  margin: 32px 8% 7% 8%;
  padding: 15px;
}



/* message */

.message {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 1;
  list-style: none;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  color: rgba(40, 41, 48, 0.753);
  transition: all .2s;
  transform: translate(0);
  animation: autoHide 0s ease-in 4s forwards;
}

.message-success {
  background: rgb(75, 127, 187);
  color: #fff;
  animation: autoHide 0s ease-in 4s forwards;
}

.message-error {
  background: red;
  color: #fff;
  animation: autoHide 0s ease-in 4s forwards;
}

.message-hide {
  transform: translate(200%);
}
/* messane section end */

/* footer */

  a{
  text-decoration:none;
  transition:0.5s;
  outline:none !important;
  }
  
  li{
  list-style:none;
  }
  
  
  fieldset{
  border:0;
  }
  
  p{
  letter-spacing:0.08em;
  line-height:1.8em;
  color:var(--gray);
  }
  
  img{
  min-width:100%;
  }
  
  em{
  font-style:normal;
  color:var(--dark);
  }
  
  .btn1, .btn2{
  padding:15px 20px;
  border-radius:40px;
  text-align:center;
  display:inline-block;
  border:0;
  }
  
  .btn1{
  background-color:var(--primary);
  color:var(--white);
  }
  
  .btn1:hover{
  background-color:var(--primarylite);
  }
  
  .btn2{
  background-color:var(--dark);
  color:var(--white);
  }
  
  .btn2:hover{
  background-color:var(--darklite);
  }
  
  @media (max-width:820px){
  .btn1, .btn2{
  padding:10px 15px;
  }
  }
  
  
  
  /*SECTION5*/
  .section5{
  background-color:var(--primary);
  display:flex;
  align-items:center;
  }
  
  .section5 section{
  width:100%;
  padding:2rem 4rem;
  }
  
  .section5 section p{
  color:rgba(1,1,1,0.8);
  }
  
  .section5 section .btn2{
  float:right;
  }
  
  @Media (max-width:1020px){
  .section5{
  display:block;
  }
  .section5 section{
  padding:1rem 1rem;
  text-align:center;
  }
  .section5 section .btn2{
  float:none;
  }
  }
  
  .truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Pagination*/
  .pagination{
    display: block;
    text-align: center;
    margin-bottom: 3rem;
}

.step-links{
  padding: 10px;

}
.pagination a{
    background: #266fcb;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}


  /*FOOTER*/
  .footer{
  background-color:var(--dark);
  width:100%;
  display:flex;
  align-items:top;
  padding:0 0;
  }
  
  .footer section{
  padding:1rem 2rem;
  width:100%;
  vertical-align:top;
  }
  
  .footer section h3{
  color:var(--white);
  }
  
  .footer section a{
  color:var(--gray);
  display:flex;
  align-items:center;
  white-space:nowrap;
  margin:15px 0;
  }
  
  .footer section a:hover{
  color:var(--white);
  }
  
  .footer section:nth-child(2) a:before,.footer section:nth-child(3) a:before{
  content:"ïƒš";
  font-family:"FontAwesome";
  margin-right:5px;
  color:var(--white);
  }
  
  .footer section a span{
  margin:0 10px;
  }
  
  .sub-footer{
  background-color:#142136;
  text-align:Center;
  color:var(--gray);
  padding:1rem 0;
  }
  
  @media (max-width:1020px){
  .footer{
  display:block;
  }
  .footer section{
  padding:1rem 1rem;
  }
  .footer section:nth-child(2), .footer section:nth-child(3){
  width:49%;
  display:inline-block;
  }
  }
  

  /* sidebar social icon  */



a,
a:hover, a:focus {
    text-decoration: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: red;
}

::selection {
    color: white;
    background: red;
}

.side-social-link {
  position: fixed;
  top: 35%;
  z-index: 999;
  margin-left: -35px;
}

.side-social-link ul {
    position: absolute;
    top: 0;
    left: -19px;
}

.main-menu-area {
    position: absolute;
    z-index: 3;
    width:100%;
}

.side-social-link ul li a {
    color: #f1f1f1;
    font-size: 20px;
    background: #e74c3c;
    padding: 10px 15px;
    display: block;
    margin-bottom: 2px;
    transition: .4s;
}

.side-social-link ul li a:hover {
    margin-left: 0px;
    transform: translate(20px);
}

.side-social-link ul {
    top: 35%;
    list-style: none;
    z-index: 3;
}
@media (max-width:820px){

  .side-social-link {
    display: none;
}
  }

  /* side bar end */



  