*,::before,::after{
    box-sizing:border-box ;
    
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
 
:root{
    --header-height: 3rem;
    --nav-width: 324px;
  
  
    /*===== Font weight =====*/
  --font-medium:500;
  --font-semi-bold:600;
  --font-bold:700;
  /*===== Colors =====*/
    --first-color: #cc4B2C;
    --first-color-dark : #645a57;
    --first-color-draken: rgb(247, 235, 235);
    --text-color : #54423D;
    --first-color-light : #EAE7E6;
    --first-color-lighten : #FFFAFA;
  
    /*===== Font and typography =====*/
    --body-font:'poppins',sans-serif;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size: .938rem;
    --samll-font-size:.813rem;
    --samller-font-size:.75rem;
  
    /*===== Margenes =====*/
    
    --mb-1:.5rem;
    --mb-2: 1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
    --mb-5:2.5rem;
    /*===== z index =====*/
    --z-fixed: 100;
  }

  @media (max-width: 768px){

    :root{
      --h1-font-size:2.5rem;
      --h2-font-size:1.5rem;
      --h3-font-size:1.25rem;
      --normal-font-size: 1rem;
      --samll-font-size:.875rem;
      --samller-font-size:.813rem;
    }
  }  
  /* =====================login page end============================= */

.log-body{
    padding: 10px;
    background:  linear-gradient(
      145deg,#a4b0da 55%, rgb(228, 207, 207) 0% );
    background-size: cover;
    background-position:center;
}

.glass {
  background: white;
  width: 40%;
  margin: auto;
  margin-top: 1rem;
  padding: 10px;
  padding-bottom: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex; 
}

.sing-up-form{
    width: 300px;
    /* box-shadow: 0 0 3px rgba(0,0,0,0.3); */
    /* background: rgb(247, 235, 235); */
    margin: 8% auto 0;
    text-align:center;
    border-radius: 5px;
    margin-top: 2rem;
}
.sing-up-form h1{
    color:rgb(2, 36, 68);
    margin-bottom: 10px;
    font-size: 25px;
}
.input-box{
    display: block;
    border-radius: 0.4rem;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    color: #495057;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid #16acd1ea;
    outline: none;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

    
  
    /* height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem; */
    
    
   
}
button{
    color: #fff;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 5px 0;
    border:none;
    outline: none;
    cursor: pointer;
}
.Singup-btn{
    background-color: #1c8adb;
    transition: 0.4s;
}
.Singup-btn:hover{
  background-color: #1076be;
}
.facebook-btn{
    transition: 0.4s;
    background-color: #21afde;
}
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  color: transparent;
}
.fa-facebook{
  color: #0088e9;
  background: #fff;
  

}
.with-social{
  background:rgb(247, 246, 246);
  color: #000;
  padding: 5px;
  border-radius: 3px;
  
}
.fb-google-login{
  font-size: 13px;
}
.agree{
  font-size: 12px;
  padding: 5px;
}
a{
    text-decoration: none;
}
hr{
    margin: auto;
    margin-top: 15px;
    width: 80%;
}
.or{
    background:  rgba(230, 226, 226, 0.685);
    width: 30px;
    margin: -12px auto 15px ;
    font-size: 15px;
}
img{
    width: 70px;
    margin-top: -50px ;
}


 @media (max-width: 540px){
  .glass{
    width: 100%;
  }

 }
 @media (max-width: 414px){
  .glass{
    width: 100%;
  }

 }

@media (max-width: 360px){
  .glass{
    width: 100%;
  }
  .sing-up-form{
    width:100%;
  }
  
}
@media (max-width: 280px){
  .glass{
    width: 100%;
  }
  .sing-up-form{
    width:100%;
  }
}


 /* =====================login page end============================= */
 






