{% extends "blog/base.html" %}
{% block content %}

<div class="container mt-5">

    <a href="{% url 'see_blog' %}" class="btn btn-warning">View Your blogs</a>
    <form method="post" class="mt-5 pt-5 mb-5 pb-5" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <label>Enter blog title</label>
                <input type="text" class="form-control" placeholder="Enter title" name="title">
            </div>
            <div class="col-md-12">
                {{form.media}} {{form.as_p}}
            </div>
            <div class="col-md-12">
                <label class="d-block">Upload Blog Image </label>
                <input type="file" name="image" class="py-4">
            </div>
        </div>
        <button type="submit" style="width: 120px;" class="btn btn-primary float-right  mt-4">Post</button>
    </form>
</div>
{% endblock %}