{% extends "blog/base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<div class="add-blog-container mt-5">
    <div class="bloger-button-item">
    <a href="{% url 'see_blog' %}" class="blog-button">View Your blogs</a><br><br>
    </div>
    <form method="post" class="mt-5 pt-5 mb-5 pb-5 blog-forms" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <h1>Post your Blog</h1>
            <div class="col-md-12">
                <label>Blog Title</label>
                <input type="text" class="form-control" placeholder="Enter title" name="title">
            </div>
            <div class="col-md-12">
                <label>Sub Title </label>
                <input type="text" class="form-control" placeholder="Enter title" name="sub-title">
            </div>
            <div class="col-md-12">
            <label>Category</label>
                        <select name="category"  class="form-control" id="">
                            <option value="">select category</option>
                            {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
            </div>
            <div class="col-md-12">
                {{form.media}} {{form.as_p}}
            </div>
            <div class="col-md-12">
                <label class="d-block">Upload Blog Image </label>
                <input type="file" name="image" class="py-4">
            </div>
        </div>
        <button type="submit" class="comment-btn">Post</button>
    </form>
</div>
{% endblock %}