<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Blog</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/media/css/login.css">
  <link rel="stylesheet" href="/media/css/custom.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/media/js/main.js"></script>

</head>

<body>
  <input type="hidden" id="csrf" value="{{csrf_token}}">
  <div class="main-menu">
    <div class="nav-mixed menu">
      <nav id="multi-level-nav" class="multi-level-nav" role="navigation">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="has-children">
            <a href="#">User<button class="dropdown-toggle" aria-expanded="false"><span
                  class="screen-reader-text">Expand child menu</span></button></a>
            <ul class="sub-menu">
              {% if request.user.is_authenticated %}
              <li><a href="{% url 'add_blog' %}">Add</a></li>
              <li><a href="{% url 'see_blog' %}">Profile</a></li>
              <li><a href="{% url 'logout_view' %}">Logout</a></li>
              {% else %}
              <a class="btn btn-primary btn-log-in" href="{% url 'login' %}">SUGNUP/LOGIN</a>
              {% endif %}
            </ul>
          </li>
          <li class="has-children">
            <a href="#">Categorys<button class="dropdown-toggle" aria-expanded="false"><span
                  class="screen-reader-text">Expand child menu</span></button></a>
            <ul class="sub-menu">
              {% for category in categories %}
              <li>
                <a class="dropdown-item" href="{% url 'category'  category.slug%}">
                  {{category.name}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="#">About</a></li>
          {% if request.user.is_authenticated %}
          
          {% else %}
          <li><a href="{% url 'register' %}">Signup</a></li>
          {% endif %}
        </ul>
      </nav><!-- #multi-level-nav .multi-level-nav -->

      <nav id="social-menu" class="social-menu" role="navigation">
        <ul>
          <li><a href="https://twitter.com/"><span class="screen-reader-text">Twitter</span></a></li>
          <li><a href="https://github.com/"><span class="screen-reader-text">Github</span></a></li>
          <li><a href="https://www.linked"><span class="screen-reader-text">LinkedIn</span></a></li>
          <li><a href="http://dribbble.com"><span class="screen-reader-text">Dribbble</span></a></li>
          <li><a href="http://instagram.com"><span class="screen-reader-text">Instagram</span></a></li>
        </ul>
      </nav> <!-- .social-menu -->

    </div><!-- .mixed-menu -->
  </div><!-- main-menu -->

  <!--============================Down-to-Up-btn--start ==================================-->
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-hand-o-up"
      aria-hidden="true"></i></button>
  <!--============================Down-to-Up-btn--end ==================================-->

  {% block content %}
  {% endblock %}


  <!-- Footer-->

  <!--GOOGLE FONTS-->


  <!--SECTION5-->
  <div class="section5">
    <section>
      <h1 class="title inline-photo2 show-on-scroll2">Subscribe to our Forum</h1>
      <p class="inline-photo show-on-scroll">Get latest news on property postings, bankrupt details, new installment
        scheme.</p>
    </section>
    <section>
      <a class="btn2" href="{% url 'register' %}">Subscribe</a>
    </section>
  </div>




  <!--FOOTER-->
  <footer>
    <div class="footer">
      <section>
        <h3>Forum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </section>
      <section>
        <h3>LINKS</h3>
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Blog</a>
        <a href="#">Contact Us</a>
      </section>
      <section>
        <h3>OTHER</h3>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Cookie Policy</a>
      </section>
      <section>
        <h3>ANY QUESTIONS?</h3>
        <a href="emailto:support@websitename.com"><span><i
              class="fa fa-envelope"></i></span><span>shopybusiness.co@gmail.com</span></a>
        <a href="tel:xxxxxxxxx"><span><i class="fa fa-phone"></i></span><span>(+880)9638635181-</span></a>
      </section>
    </div>
  </footer>
  <div class="sub-footer">
    &copy; {% now "Y" %} All rights reserved |Forum
  </div>
















  <!-- frontend js  -->

  <script>
    // var navlinks = document.getElementById("navlinks");

    // function showMenu() {
    //   navlinks.style.right = "0"
    // }

    // function hideMenu() {
    //   navlinks.style.right = "-370px"
    // }


    //Get the button
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }


    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }

    // nav items 
    (function ($) {

      $('.dropdown-toggle').click(function (e) {
        var _this = $(this);
        e.preventDefault();
        _this.toggleClass('toggle-on');
        _this.parent().next('.sub-menu').toggleClass('toggled-on');
        _this.attr('aria-expanded', _this.attr('aria-expanded') === 'false' ? 'true' : 'false');
        _this.html(_this.html() === '<span class="screen-reader-text">Expand child menu</span>' ?
          '<span class="screen-reader-text">Collapse child menu</span>' :
          '<span class="screen-reader-text">Expand child menu</span>');
      });

      // sidebar menu
      $('a.sidebar-left-toggle').click(function () {
        if (!$('.sidebar').hasClass('.sidebar-left')) {
          $('.sidebar').addClass('sidebar-left');
        }
      });

      $('a.sidebar-right-toggle').click(function () {
        if ($('.sidebar').hasClass('sidebar-left')) {
          $('.sidebar').removeClass('sidebar-left');
        }
      });

      $('a.no-sidebar-toggle').click(function () {
        if (!$('.content').hasClass('no-sidebar')) {
          $('.content').addClass('no-sidebar');
        } else {
          $('.content').removeClass('no-sidebar');
        }
      });

      $('a.hide-sidebar-toggle').click(function () {
        if (!$('.sidebar').hasClass('hide')) {
          $('.sidebar').addClass('hide');
        } else {
          $('.sidebar').removeClass('hide');
        }
      });
    })(jQuery);
  </script>


</body>


</html>