{% extends "blog/base.html" %}
{% block content %}
<section class="container">
  <div class="post-details">
    <h1 class="post-details-title"> {{blog_obj.title}} </h1>
    {% if request.user.is_authenticated %}
    <a class="user-and-date"><i class="fa fa-pencil-square-o" aria-hidden="true"> </i> {{blog_obj.user.username}} </a>
    {% else %}
    {% endif %}
    <time class="user-and-date"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{blog_obj.created_at}}</time>
    <div class="post-details-menu">
      <a href="{% url 'home' %}"  style="color: rgb(228, 94, 17);"><i class='bx bx-home'></i>Home </a>
      {% if request.user.is_authenticated %}   
      <a href="{% url 'add_blog' %}"> / Create Post</a>
      {% else %}
      {% endif %}
    </div>

    <div class="post-imgs">
      <img class="post-dp" src="/media/{{blog_obj.image}}" alt="">
    </div>
    <div class="post-word post-dp">
      {{blog_obj.content|safe}}

      <div class="user-profile">
        <ul class="post-times">
          <li><a class="post-item" href="#"><i class="fa fa-comment" aria-hidden="true"></i> 10 Comments</a></li>
          <li><a class="post-item" href="#"><i class="fa fa-share" aria-hidden="true"></i> Share</a></li>
        </ul>
      </div>

  
    <form action="" method="post">
      
        {% csrf_token %}
       
        <textarea type="text" class="input-comment" placeholder="Write a comment"></textarea>

        <button class='comment-btn' type="submit">Post Comment</button>

        </form>
      </div>
      <hr class="hr-custom">
    </div>

</section>
</section>

{% endblock %}