{% extends "blog/base.html" %}
{% load filters % }
{% block content %}
<div class="outer-wrap">
  <header class="masthead">
    <div class="sidebar-switcher">
      Select layout: <a href="#" class="sidebar-left-toggle"><i class="fa fa-align-left"></i><span
          class="screen-reader-text">Move sidebar to the left</span></a> <a href="#" class="sidebar-right-toggle"><i
          class="fa fa-align-right"></i><span class="screen-reader-text">Move sidebar to the right</span></a> <a
        href="#" class="no-sidebar-toggle"><i class="fa fa-align-justify"></i><span class="screen-reader-text">Display
          content vertically</span></a> <a href="#" class="hide-sidebar-toggle"><i
          class="fa fa-arrow-circle-right"></i><span class="screen-reader-text">Remove sidebar</span></a>
    </div><!-- .sidebar-switcher -->

    <div class="centered">
      <div class="site-branding">
        <h5 class="site-title">Search Here</h5>
        <!-- search -->
        <div class="wrap">
          <div class="search">
            <form class="search-form" action="" method="POST">
              {% csrf_token %}
              <input type="text" name="search" class="searchTerm" placeholder="What are you looking for?">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
              </button>
          </form>
          </div>
        </div> <!-- end serach -->
      </div><!-- .site-title -->
    </div><!-- .centered -->

  </header><!-- .masthead -->

  <div class="content">
    <main class="main-area">
      <div class="centered">
        <section class="cards">
          {% for result in results %}
          <article class="card hover-animate">
            <a href="{% url 'blog_detail' result.slug %}">
              <img src="/media/{{result.image}}" alt="meow">
              <div class="card-content">
                <h2>{{result.title}}</h2>
                <small class="user-and-date"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  {{result.bloger.username}}</small>
                <small class="user-and-date"><i class="fa fa-clock-o" aria-hidden="true"></i>
                  {{result.created_at}}</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo consequatur
                  consectetur fugit molestias perferendis</p>
              </div> <!-- .card-content -->
            </a>

          </article><!-- .card -->
          {% endfor %}

        </section><!-- .cards -->
      </div><!-- .centered -->
    </main><!-- main-area -->

    <div class="sidebar">
      <div class="squish-container">
        <form class="search-form" action="" method="POST">
          {% csrf_token %}
          <input type="taxt" name="search" class="sidebar-searchTerm" placeholder="search">
          <button type="submit" class="sidebar-searchButton ">
            <i class="fa fa-search"></i>
          </button>
      </form>
      <hr>
        <h3>Explore the other Demos:</h3>
        <nav class="example-menu">
          <ul>
            <li><a href="https://codepen.io/bugsyAlexander/pen/xGBaaG" target="_blank">Mixed Menu</a></li>
            <li><a href="https://codepen.io/bugsyAlexander/pen/gpyYOo" target="_blank">Card Layout</a></li>
            <li><a href="https://codepen.io/bugsyAlexander/pen/OVGLmo" target="_blank">Holy Grail</a></li>
            <li><a href="https://codepen.io/bugsyAlexander/pen/xGNZao" target="_blank">Site Demo</a></li>
          </ul>
        </nav><!-- .example-menu -->
      </div>
    </div><!-- .sidebar -->
  </div><!-- .content -->


</div><!-- .outer-wrap -->




<!-- Pagination -->
<div class="col">
  <div aria-label="Blog pagination">
    <ul class="pagination justify-content-between mb-5">
      <li class="page-item"><a class="page-link text-sm rounded" href="#"> <i class="fa fa-chevron-left mr-1"></i>Older
          posts</a></li>
      <li class="page-item disabled"><a class="page-link text-sm rounded" href="#" tabindex="-1">Newer posts
          <i class="fa fa-chevron-right ml-1"></i></a></li>
    </ul>
  </div>
</div>
</section>
{% endblock %}