{% extends "blog/base.html" %}
{%load static%}
{% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/media/css/login.css">
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo">
                <h2><span class="fa fa-user user-logo"></span></h2>
            </span>
            <h4 class="company_title">Bloger Access</h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h2>Log In</h2>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="row">
                            <i class="edit-icons fa fa-user" for="loginUsername"></i>
                            <input class="form__input" name="loginUsername" id="loginUsername" type="email"
                                placeholder="name@address.com" autocomplete="off" required
                                data-msg="Please enter your email">
                        </div>
                        <div class="row ">
                            <i class="edit-icons-lock fa fa-lock" for="loginPassword"></i>
                            <input class="form__input " name="loginPassword" id="loginPassword" placeholder="Password"
                                type="password" required data-msg="Please enter your password">

                        </div>

                        <div class="row">
                            <button type="button" class="login-btn" onclick="login()"> Submit </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>Don't have an account? <a href="{% url 'register' %}"> Regstation</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- new temlates -->


{% endblock %}