{% extends "blog/base.html" %}
{% block content %}

<section class="log-body">
          <div class="glass">
              <div class="sing-up-form">
                  <h1 >Welcome To Potato Forum</h1>
                   <h6 style="font-size: 13px;">Login your account to continue</h6>
                    <div class="form-group text-left pt-5">

                        <!-- <label class="form-label " for="UserFname">Firtst Name</label>
                        <input class="input-box" name="UserFname" id="UserFname" type="text" placeholder="Enter your name " autocomplete="off" required data-msg="Please enter your Name">

                        <label class="form-label " for="UserLname">Last Name</label>
                        <input class="input-box" name="UserLname" id="UserLname" type="text" placeholder="Enter your name " autocomplete="off" required data-msg="Please enter last Name">   -->

                        <label class="form-label " for="loginUsername">Email</label>
                        <input class="input-box" name="loginUsername" id="loginUsername" type="email" placeholder="name@address.com" autocomplete="off" required data-msg="Please enter your email">      
    
                        <label class="form-label" for="loginPassword"> Password</label>
                        <input class="input-box" name="loginPassword" id="loginPassword" placeholder="Password" type="password" required data-msg="Please enter your password">
                    </div>  
                    <button type="button" class="facebook-btn" onclick="register()"> Sing Up </button>
                      <hr>
                      <p class="or" >OR</p>
                      <a href="https://www.facebook.com/" class="btn with-social"> <span  class="fb-google-login"> <i class=' fa-facebook bx bxl-facebook-circle'></i>  Facebook</span></a>
                      <a href="https://accounts.google.com/signin/v2/identifier?flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="btn with-social"><span class="fb-google-login"> <i class="bx bxl-google fa-google"> </i> Google</span></a>
                      <br>
                      <p class="agree">Already have an account? <a href="{% url 'login' %}">login hare</a></p>
                
              </div>
          </div>
      </section>

  {% endblock %}